[submodule "src/dependencies/minhook"]
	path = src/dependencies/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "src/wxWidgets"]
	path = src/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
